@import Page.Less;

/*导航条的样式
----------------------------------------------------*/
.navbar-fixed-right{
    position:fixed;
    right:0px;
    top:0px;
}

.highly-hold-full{
    height: 100%;
}

.cont-highly-hold-full {
    height: 96%;
    margin:2% 0;
}

/**logo样式
--------------------------------------------------------*/
.logo {
    width: 40px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 20px;
}

/* MainPage界面的css样式
*/

.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.main-bg {
    z-index: -1;background: url(../imgs/bg-1.jpg) center no-repeat;background-size: cover;
}